*{ /*novo*/
  margin: 0;/*novo*/
  padding: 0;/*novo*/
} /*novo*/

.cabecalho{
    background-color:rgb(61, 197, 238);
    color: rgb(30, 34, 34);
    display:flex; /*novo*/
    justify-content: space-around; /*novo*/
    padding: 240px;
    font-size: 50px;/*novo*/
}


.cabecalhoListaItem{ 
  display:inline-block; 
  margin: 0 120px;
  padding:78px 0;
}.sobreImagem{
           width:30%
}

.sobre{
        background-image: linear-gradient(#42e4d6, #49e4dc);
        color: rgb(10, 10, 10);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:40%
}

.sobreTitulo{
         padding: 100px 50px;
}
membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}
