*{ /*novo*/
  margin: 0;/*novo*/
  padding: 0;/*novo*/
} /*novo*/

.cabecalho{
    background-color:rgb(160, 226, 247);
    color: aqua;
    display:flex; /*novo*/
    justify-content: space-around; /*novo*/
    padding: 240px;
    font-size: 50px;/*novo*/
}


.cabecalhoListaItem{ 
  display:inline-block; 
  margin: 0 120px;
  padding:78px 0;
}